/*color*/
$white:#ffffff;
$black:#000000;
$cerulean-blue:#2a63c1;
$endeavour:#204b93;
$roof-terracotta:#a94442;


/*fonts*/
$base-font:'Lato';

/*font-size*/
$h6:48px;
$h5:36px;
$h4:30px;
$h3:24px;
$h2:20px;
$h1:12px;