/* Desktop */

@media (max-width:1024px) {}


/* Tablet */

@media (max-width:768px) {
    .pswrap {
        max-width: 100%;
    }
    .menu li {
        margin: 0 0 0 15px;
    }
    .slide .demobrowser {
        height: 285px;
    }
    .fblist li {
        width: 100%;
        padding: 0;
        margin: 35px 0;
    }
    .greenbg .fblist {
        margin: -30px 0 0 -30px;
    }
    .greenbg .fblist li {
        width: calc(50% - 30px);
        margin: 30px 0 0 30px;
    }
}


/* Mobile */

@media (max-width:480px) {
    .pswrap {
        max-width: 100%;
    }
    .psect.header {
        padding: 10px 15px 11px;
    }
    .logo {
        background: url('../images/logo-small.png') no-repeat;
        background-size: cover;
        width: 100px;
        height: 38px;
    }
    .menu-icon {
        float: right;
        height: 35px;
        width: 25px;
        padding: 0 5px;
        border: 2px solid #fff;
        border-radius: 6px;
    }
    .menu-icon span,
    .menu-icon::before,
    .menu-icon::after {
        display: block;
        height: 2px;
        background-color: #fff;
        margin: 7px 0;
        transition: 0.4s;
    }
    .menu-icon::before,
    .menu-icon::after {
        content: "";
    }
    .menu-icon.change span {
        opacity: 0;
    }
    .menu-icon.change::before {
        transform: rotate(-45deg) translate(-7px, 7px);
    }
    .menu-icon.change::after {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .header .pswrap {
        position: static;
    }
    .menu {
        background: #f5f5f5;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: auto;
        z-index: 1;
        opacity: 0;
    }
    .menu.show{
        opacity:1;
    }
    .menu li {
        float: none;
        margin: 0;
        padding: 5px 5px 0;
    }
    .menu li a {
        color: #232324;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        border-radius: 0px;
        text-align: center;
        border-bottom: 1px solid #eee;
    }
    .menu li a.active,
    .menu li a:hover {
        color: #f56262;
        background: #eee;
    }
    .fblist li {
        width: 100%;
    }
    .greenbg .fblist {
        margin: -30px 0 0 0;
    }
    .greenbg .fblist li {
        width: 100%;
        margin: 30px 0 0 0;
    }
}
